<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{.Title}}</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<main>
			<a href="/about.html" class="floatleft navigation">About Me</a>
			<a href="" class="floatright navigation">fr</a>
			<br/>
			
			{{ range where .Pages "Section" "blog" }}
				{{ range .Pages }}
					<h2>{{.Date.Format "2006-01-02"}}: {{ .Title }}</h2>
					<p><a href="{{ .Permalink }}"> {{ .Params.SubTitle }}</a></p>
				{{ end }} 
			{{ end }} {{/* end range .Pages */}}
			
		</main>
	</body>
</html>
