<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ .Title }} </title>
    {{ partial "header.html" .}} 
  </head>
  <body>
    <main>
		<a href="/" class="floatleft navigation">Home</a>
		<a href="/about.html" class="floatright navigation">About Me</a>
		<br />
		<h1>{{ .Title }}</h1>
		<h2 style="font-style:italic;">"{{ .Params.Subtitle }}"</h2>
		
        {{ .TableOfContents }}
		
		{{.Content}}
    </main>
  </body>
</html>
