<div class="grid-container">
<div style="grid-column-start: 1; grid-column-end: 2; grid-row-start: 1; grid-row-end: 1;">

### Top Left

**_Icon and Title_**: this part of the card establishes that the card is called "Rifle", and is referring to a gun.

</div>

<div style="grid-column-start: 3; grid-column-end: 4; grid-row-start: 1; grid-row-end: 1;">

### Top Right

**_Range_**: this part of the card establishes if it's a ranged attack, or requires touch, or has an area.
If it's blank, it's because it affects yourself.

In this case, it has a range of 80ft, with disadvantage up to 320ft (in the most common format, 16 squares / 64 squares).
</div>

<div style="grid-column-start: 2; grid-column-end: 3; grid-row-start: 1; grid-row-end: 3; align-self: center;" >
	
</div>

<div style="grid-column-start: 1; grid-column-end: 2; grid-row-start: 2; grid-row-end: 2;">

### Bottom Left

**_Dice to roll_**: We can see that the damage die here is a d12, and the attack roll is a d20.

**_Pre-calculations_**: We can also see that the values are pre-calculated: the first box is blank as some characters can use a stat other than STR/DEX to attack (in my artificer's case, it would be INT).

</div>

<div style="grid-column-start: 3; grid-column-end: 4; grid-row-start: 2; grid-row-end: 2;">

### Bottom Right

**_Handedness_**: how many hands it takes to wield this.
It's a two handed gun, so I would darken both hands.
</div>
</div>
